<div class="black-background-color padding-vertical-3">
  
  <div class="grid-x align-center">

    <div class="shrink cell">

      <ul class="menu align-center">
        <li><a href="{{site.phoneNumber}}" target="_blank">{{site.phoneNumber}}</a></li>
        <li><a href="{{site.email}}" target="_blank">{{site.email}}</a></li>
      </ul>
    </div>
  </div>

</div>