<!-- Header -->
<header class="grid-x grid-padding-x grid-padding-y align-justify align-middle navigation" data-aos="fade-down">

  <div class="small-4 cell">
    <ul class="menu align-left">
      <li><a href="/about">About</a></li>
      <li><a href="/products">Products</a></li>
    </ul>
  </div>

  <div class="small-4 cell text-center text-uppercase">
    <a href="/">
      <h3>Ambigu Bakery</h3>
    </a>
  </div>

  <div class="small-4 cell text-right">
    <ul class="menu align-right">
      <li><a href="/location-and-hours">Location + Hours</a></li>
      <li><a href="/contact">Contact</a></li>
    </ul>
  </div>

</header>
<!-- End  Header -->
