{% set bodyClass = 'home' %}

{% extends "default/_layouts/site" %}

{% block loading %}
{#
<div class="grid-y align-center loader hide">
  <div class="shrink cell">
    <div class="grid-x grid-padding-x align-center">
      <div class="small-11 medium-6 cell h1">
        <svg class="icon icon-{{ event.logo }}"><use xlink:href="/assets/icons/symbol-defs.svg#icon-{{ event.logo }}"></use></svg>
      </div>
    </div>
  </div>
</div>
#}
{% endblock %}

{% block main %}

<!-- Image -->
{% set image = entry.image.one() %}
<div class="image--panorama align-center-middle" data-interchange="{% include "_includes/images/contained/16-9/interchange-img-small-12-medium-12" %}">
  
  <div class="grid-y height-100 align-center content">
    <div class="shrink cell text-center white">

      <div class="grid-container">
        <div class="grid-x grid-padding-x grid-padding-y padding-vertical-3 align-center align-middle">
          <div class="small-12 medium-10 large-9 cell text-center">
            {{entry.copy}}
          </div>
        </div>
      </div>

    </div>
  </div>

</div>
<!-- Image -->

<!-- Copy -->
<div class="grid-container">
  <div class="grid-x grid-padding-x grid-padding-y padding-vertical-3 align-center align-middle">
    <div class="small-12 medium-10 large-9 cell text-center">
      {{entry.copy}}
    </div>
  </div>
</div>
<!-- End Copy -->

{% endblock %}